<h1> hi </h1>


<h2>All amount inside the wallet converted to USD are <%= @exchange %></h2>

<p> You selected amount to convert to USD are <%= @exchange_custom %> and converted USD are <%= @exchange_user_custom %>